.card {
  max-width: 345px;
  margin-bottom: 20px;
}

.media {
  height: 140px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.container {
  padding: 20px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.grid-item {
  flex: 1 1 calc(25% - 16px); /* Adjust the percentage for responsiveness */
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .grid-item {
    flex: 1 1 calc(33.333% - 16px);
  }
}

@media (max-width: 900px) {
  .grid-item {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .grid-item {
    flex: 1 1 100%;
  }
}
